@media only screen and (max-width: 1024px) {
	/* main, header {
		padding: 0 30px;
	} */
	article {
		max-width: 500px;
	}
	aside {
		width: calc(100% - 520px);
	}
}

@media only screen and (max-width: 768px) {
	main, header {
    	padding: 0 30px;
	}
	article {
		max-width: 430px;
	}
	aside {
		width: calc(100% - 450px);
	}
}

@media only screen and (max-width: 767px) {
	body {
		padding-top: 70px;
	}
	main, header {
		padding: 0 15px;
	}
	.header--flex {
		height: 50px;
	}
	aside {
		display: none;
	}
	article {
		max-width: 100%;
		margin-right: 0;
	}
}
