.cta-btn {
	background-color: #1c6dd9;
    border-radius: 8px;
	box-shadow: 0px 3px 4px 2px rgb(0 0 0 / 18%);
    color: #fff;
	display: inline-block;
    padding: 16px 22px;
}
.cta-btn:focus {
	box-shadow: inset 0px 3px 4px 2px rgb(0 0 0 / 18%);
}
/* COLOR PALLETE */
.dark {
	background-color: #232020;
}
.purple {
	background-color: #6944c6;
}
.moss {
	background-color: #9c914f;
}
.leaf {
	background-color: #57b48b;
}
.red {
	background-color: #fe5f55;
}
main {
	position: relative;
}
.quad-wrap {
	display: grid;
	color: #fff;
	min-height: 100vh;
	grid-template-columns: repeat(2, 50%);
}
.quad--item {
	display: flex;
	flex-flow: row wrap;
	padding: 30px;
	position: relative;
}
.overlay {
	background-color: rgba(0,0,0,1);
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color .8s ease-in-out;
	width: 100%;
}
.quad--left {
	display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
	width: 60%;
}
.quad--right {
	text-align: center;
	width: calc(100% - 60%);
}
.quad--right > img {
	box-shadow: 0px 4px 6px 3px rgb(0 0 0 / 18%);
	margin: 0 auto 15px auto;
	width: 90%;
}
.quad--body {
	margin-bottom: 15px;
}
#fourth {
	background-image: url(../images/confetti.png);
	background-position-x: right;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: 400px;
}
#first:hover > .overlay, 
#second:hover > .overlay, 
#third:hover > .overlay, 
#fourth:hover > .overlay {
	background-color: rgb(0 0 0 / 0%);
	position: fixed;
	top: 99999px;
}
#first:hover ~ #profile-wrap {
	bottom: unset;
	top: 25%;
	left: 75%;
}
#second:hover ~ #profile-wrap {
	bottom: unset;
	top: 75%;
	left: 25%;
}
#third:hover ~ #profile-wrap {
	bottom: unset;
	top: 75%;
	left: 75%;
}
#fourth:hover ~ #profile-wrap {
	bottom: unset;
	top: 75%;
	left: 90%;
}
#fourth:hover ~ #profile-wrap p, 
#fourth:hover ~ #profile-wrap .profile--greet span,
.visible-sm-xs {
	display: none;
}
#fourth:hover ~ #profile-wrap .profile--greet:after {
	content: "Hooray!";
}
#fourth:hover ~ #profile-wrap .profile--img {
	background-image: url(../images/me-woot.jpg);
}
.quad--footer img {
	width: 60px;
}
.preview-card {
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-gap: 10px;
}
.preview--photo img {
	box-shadow: 0px 4px 6px 3px rgb(0 0 0 / 18%);
	width: 100%;
}
#profile-wrap {
	left: 25%;
	text-align: center;
	transform: translate(-50%, -50%);
	transition: all .1s ease;
	top: 25%;
	position: absolute;
	width: 250px;
}
.profile--img {
	background-image: url(../images/me.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 100%;
	height: 180px;
	margin: 0 auto 15px auto;
	width: 180px;
}
.cta-hover {
	color: yellow;
}
hr.emboss {
	border-top: 1px solid #d1332d;
    border-bottom: 1px solid hwb(0 100% 0% / 0.29);
	margin-top: 20px;
	margin-bottom: 20px;
}
.cto {
	color: #d1332d;
	font-size: 10px;
}