* {
	box-sizing: border-box;
}
body {
	background-color: #f2f6fc;
	padding-top: 80px;
}
header {
	background: rgb(181,203,25);
	background: linear-gradient(90deg, rgba(181,203,25,1) 0%, rgba(22,146,166,1) 35%, rgba(4,115,191,1) 69%, rgba(196,0,255,1) 100%);
	color: #fff;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.header--flex {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 60px;
}
.header--flex > * {
	margin: 0;
}
.header--flex, main {
	margin: 0 auto;
	position: relative;
	max-width: 900px;
}
main > article, main > aside {
	float: left;
}
article {
	margin-right: 20px;
	max-width: 600px;
}
aside {
	width: calc(100% - 620px);
}
.blog--panel {
	background-color: #fff;
	border-radius: 12px;
	margin-bottom: 20px;
	padding: 20px;
}
.blog--panel > *:last-child {
	margin-bottom: 0;
}
img {
	border-radius: 8px;
	margin: 0 0 15px 0;
	width: 100%;
}
footer {
	align-items: center;
	background-color: #292929;
	color: #fff;
	display: flex;
	justify-content: center;
	height: 60px;
	text-align: center;
}
.unzooom-link {
	background-color: #92b12a;
	border-radius: 3px;
	color: #fff;
	padding: 4px 8px;
}
.unzooom-link:active {
	background-color: #81a019;
}
.text-link {
	color: blueviolet;
}
